body {
  margin: 0;
  padding: 0;
  color: #1D1D1F;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 45px;
  backdrop-filter: blur(20px);
  background-color: rgba(251, 251, 253, .8);
}
main {
  position: relative;
  top: 45px;
}
footer {
  background-color: grey;
}
a {
  text-decoration: none;
}
a:link {
  color: #06c;
}
a:visited {
  color: #06c;
}
a:hover {
  text-decoration: underline;
}

.logo-image {
  width: 25px;
  margin-left: 2.4vh;
  margin-right: 2.4vh;
}
.icon-image {
  width: 20px;
  margin-left: 2.4vh;
  margin-right: 2.4vh;
}
.header-menu {
  flex-direction: row;
  font-size: 11px;
  font-weight: 600;
}
.header-menu-item {
  margin-left: 2.4vh;
  margin-right: 2.4vh;
}
.banner-href {
  margin-left: 0.5vh;
}
.iphone14pro-text {
  position: relative;
  z-index: 1;
  color: #fff;
}
.iphone14pro {
  position: absolute;
  top: 0;
  transform: translateY(-12px);
  width: 100%;
  height: 100%;
  background: url(assets/images/iphone14pro.jpg) center/cover;
}
.iphone14 {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  font-size: 13px;
}
#widthScreen {
  position: relative;
  overflow: hidden;
  height: 704px;
}
#gridScreen {
  background-color: yellow;
}
#rowScroll {
  background-color: aqua;
}
